---
import Layout from '../layouts/Layout.astro';

import { Video } from '@/components/Video';
import { Footer } from '@/components/Footer';
import { PreFooter } from '@/components/PreFooter';
import { Bento } from '@/components/Bento';
import { Intro } from '@/components/Intro';
---

<Layout
  title='Premios ESLAND 2024, celebrando lo mejor del streaming'
  description='Descubre a los mejores creadores de contenido en españa y latinoamerica, Vota por tus favoritos'
>
  <Video />

  <main>
    <Intro />
    <Bento />
    <PreFooter />
  </main>
  <Footer />
</Layout>

<style></style>
